.list-cursos .ant-pagination {
	justify-content: center;
	margin-top: 80px;
}

.list-cursos .ant-pagination .ant-pagination-item {
	background-color: #f5f5f5;
	border: none;
	color: #656565;
}

.list-cursos .ant-pagination .ant-pagination-item.ant-pagination-item-active {
	background-color: var(--color-secondary);
	color: var(--color-white);
	font-weight: bold;
}
