.home-cursos {
	padding: 80px 0;
}

.home-cursos--titulo {
	border-bottom: 2px solid var(--color-light2);
	padding-bottom: 40px;
	margin-bottom: 60px;
}

.home-cursos--lista .card-curso {
	margin-bottom: 40px;
}

@media (max-width: 767px) {
	.home-cursos--titulo {
		padding-bottom: 8px;
		margin-bottom: 40px;
	}
}