.card-curso {
	background-color: var(--color-white);
	overflow: hidden;
	border-radius: 8px;
}

.card-curso--image {
	position: relative;
	margin-bottom: 24px;
}

.card-curso--image img {
	display: block;
}

.cart-curso--rate {
	align-items: center;
	background-color: var(--color-primary);
	border-radius: 16px;
	bottom: -12px;
	color: var(--color-white);
	display: flex;
	font-size: 12px;
	line-height: normal;
	padding: 0 16px;
	gap: 4px;
	position: absolute;
	right: 12px;
	height: 24px;
}

.cart-curso--rate i {
	font-size: 16px;
	color: var(--color-secondary);
	line-height: normal;
}

.card-curso--description {
	padding: 0 16px;
}

.card-curso--description h3 {
	color: var(--color-dark);
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	margin: 0 0 12px;
}

.card-curso--description p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.8;
	color: var(--color-dark);
	opacity: 0.6;
	margin: 0 0 16px;
}

.card-curso--highlight {
	align-items: center;
	display: flex;
	gap: 4px;
	font-size: 14px;
	color: var(--color-dark);
	opacity: 0.9;
}

.card-curso--highlight i {
	font-size: 24px;
}
