.hero-sobre-nos{
    background-image: url(./HeroSobreNos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.hero-sobre-nos > h1{
    margin-top: 0;
}
