.contato-conteudo {
  color: var(--color-dark);
  margin: 98px 0 86px 0;
}

.conteudo-texto {
  font-size: 16px;
  opacity: 0.7;
  line-height: 27.2px;
  font-weight: 500;
}

.conteudo-texto b {
  font-weight: 700;
}

.form-contato {
  height: auto;
  background-color: var(--color-primary);
}

.form-conteudo {
  color: var(--color-white);
  margin: 75px auto;
  max-width: fit-content;
}

.form-conteudo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 48px;
}

.custom-input {
  border: solid 1.5px var(--color-white);
  border-radius: 8px;
  background: var(--color-white);
  padding: 10px;
  width: 100%;
  height: 64px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-dark);
}

.custom-input:focus {
  background-color: var(--color-secondary);
  outline: auto;
  color: var(--color-dark);
}

.custom-input:invalid {
  color: var(--color-dark);
}

.botao-form {
  width: 100%;
  height: 64px;
  color: var(--color-dark);
  background-color: var(--color-secondary);
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-form:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}