:root {
	--color-primary: #1c1e53;
	--color-secondary: #fcd980;

	--color-white: #fff;
	--color-black: #000;
	--color-dark: #282938;
	--color-light: #eef4fa;
	--color-light2: #ececf1;
	--color-alternate:#2405f2;
}

body {
	--bs-body-font-family: 'Poppins', sans-serif;
}

a,
button {
	transition: all 0.3s ease-in-out;
}

img {
	height: auto;
	max-width: 100%;
}

.title-default {
	color: var(--color-primary);
	font-size: 38px;
	font-weight: 600;
	line-height: normal;
}

.button-default {
	align-items: center;
	background: var(--color-secondary);
	border: 1px solid var(--color-secondary);
	border-radius: 4px;
	color: #282938;
	display: flex;
	font-size: 16px;
	font-weight: bold;
	gap: 8px;
	height: 54px;
	justify-content: center;
	letter-spacing: 0.01em;
	padding: 0 32px;
	text-decoration: none;
}

.button-default:hover {
	background: transparent;
	color: var(--color-secondary);
}

.button-default.block {
	width: 100%;
}

.button-default.transparent {
	background: transparent;
	border: none;
	color: var(--color-white);
	padding: 0;
}

.button-default.transparent:hover {
	background: transparent;
	color: var(--color-secondary);
}
